* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(1, 1, 45);
    color: white;
    text-align: center;
    max-height: 95vh;
}

.heading {
    margin-top: 5%;
    font-size: 3rem;
    margin-bottom: 3%;
}

.reset-btn {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    font: bolder;
    font-weight: bolder;
    font-size: 1rem;
    margin-bottom: 3%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:  rgb(7, 7, 181);
    margin: 0px auto;
    width: 25%;
    height: 180px;
    border-radius: 25px;
}

.number {
    font-weight: bolder;
    font-size: 4rem;
    margin-bottom: 10px;
}

.process {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    /* background-color: blue; */
    width: 60%;
    height: 100px;
}
.process button{
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border: 5px solid rgb(1, 1, 34);
    border-radius: 20px;
    cursor: pointer;
}
.save{
    margin: 3%;
    font-size: 2rem;
    cursor: pointer;
    width: 20%;
    height: 10%;
    border: 5px solid;
    border-radius: 15px;
}

.section{
    width: 35%;
    margin: 0 auto;
    background-color: red;
    height: 100px;
    padding: 20px;
}
.value{
    margin: 10px;
    font-size: 1.5rem;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    padding: 0.313rem;
    line-height: 3vh;
    position: absolute;
    bottom: 0;
    width: 100%;
}

